---
title: Commençons avec Misskey
description:  Misskey est une plateforme de microblogage améliorée en constante évolution. Pourquoi ne quitteriez-vous pas un instant l'agitation urbaine pour vous plonger dans le nouveau réseau ?
styleRequires: ["top"]
---
#toppage
  section#top.loadts
    .texts
      .slogan.h4.font-weight-light.loadts.scrollts-fadeInLeftBig.scrollts-e-2.scrollts-u-5.scrollts-nomargin Se connecter avec le nouveau monde
      h1.font-weight-light.loadts.scrollts-fadeInLeftBig.scrollts-e-2.scrollts-u-5.scrollts-nomargin Commençons avec Misskey
      p.loadts.scrollts-fadeInLeftBig.scrollts-e-4.scrollts-u-5.scrollts-nomargin Misskey est une plateforme de microblogage en constante évolution et amélioration.
    .scnshts
      +picture({src:"/files/images/imports/2020/03/desktop-2.png", alt:"Desktop", class:"loadts scrollts-e-1 scrollts-nomargin raise-1", sizes: "58vw"})
      +picture({src:"/files/images/imports/2020/03/mobile-122701.png", alt:"Mobile", class:"loadts scrollts-e-1 scrollts-nomargin raise-1", sizes: "20vw"})
      img(src="/files/images/imports/2019/03/ai_svg.svg" alt="Ai").loadts.scrollts-fadeIn.scrollts-e-3.scrollts-nomargin
      div.small.loadts.scrollts-fadeIn.scrollts-e-3.scrollts-nomargin Ai est la mascotte de Misskey
  section#section_1.bg-primary.text-white: .container
    p.text-center Merci d'avoir trouvé Misskey ! Misskey est une #[span.font-weight-bold plateforme de microblogage distribuée] sur toute la planète. Misskey et les autres réseaux sociaux se connectent ensemble parce qu'ils font partie du Fédiverse (un univers composé de différents réseaux sociaux).
    p.text-center Pourquoi ne quitteriez-vous pas un instant l'agitation urbaine pour vous plonger dans le nouveau réseau ?
    p.mt-1.text-center
      a(href="#s3anc").btn.btn-lg.btn-outline-primary.bg-white.mr-2.scrollts.scrollts-flipInX.scrollts-nomargin Utiliser
      a(href="wiki/developers").btn.btn-lg.btn-primary.scrollts.scrollts-flipInX.scrollts-nomargin Installer un serveur
  .text-center
    +ad({ class: "aitaso", slot: "4149683131", format: "horizontal", allowFullWidth: "true" })
  section#section_2.bg-white: .container
    h2.text-center.mt-3 Pourquoi choisir Misskey ?
    p.text-center Il y a plusieurs raisons de choisir Misskey comme votre réseau social de tous les jours.

    section.s2-item
      h3.text-center Nombreuses fonctionnalités
      p.text-center Vous pouvez faire un tas de choses sur Misskey.
      p.text-center
        a(href="wiki/").btn.btn-lg.btn-primary.scrollts.scrollts-jackInTheBox
          +fa_fw('book')
          | Voir les différents usages sur le Wiki

      .row
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('comment-alt', 'fas')
              .s2-card-text
                h4 Posts de notes productives
                p.mb-0
                  +fa_fw('i-cursor')
                  | #[b Libre configuration de limite de caractères] pour chaque instance
                p.mb-0
                  +fa_fw('unlock')
                  |  Vous pouvez #[b ajuster le niveau de confidentialité] de vos posts comme vous le voulez
                p.mb-0
                  +fa_fw('eye-slash')
                  |  Vous pouvez #[cacher] vos messages et médias sensibles (NSFW)
            a(href="wiki/usage/post").s2-card-link.font-weight-bold En savoir plus sur les posts
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('edit', 'fas')
              .s2-card-text
                h4 Formatage du texte
                p.mb-0 Décorez vos notes ainsi que votre profil ! Le formatage se fait grâce au « Misskey Flavored Markdown » (MFM).
            +picture({src: "/files/images/imports/2019/03/mfm.png", loading: "lazy", sizes: "calc(100vw - 1rem), (min-width: 576px) 524px, (min-width: 768px) 344px, (min-width: 992px) 464px, (min-width: 1200px) 364px"})
            a(href="wiki/usage/mfm").s2-card-link.font-weight-bold En savoir plus sur le formatage
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('surprise', 'far')
              .s2-card-text
                h4 Réactions
                p.mb-0 Réagissez aux posts. Vous pouvez sélectionner une réaction et l'utiliser comme réponse au post.
            +picture({src: "/files/images/imports/2019/03/reaction-2.png", loading: "lazy", sizes: "calc(100vw - 1rem), (min-width: 576px) 524px, (min-width: 768px) 344px, (min-width: 992px) 464px, (min-width: 1200px) 364px"})
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('chart-pie', 'fas')
              .s2-card-text
                h4 Sondages
                p.mb-0 Demandez l'opinion de votre entourage. Vous pouvez créer des sondages avec jusqu'à 10 choix de réponse. Les réponses multiples pouvent être autorisées et une date d'expiration peut être activée.
            +picture({src: "/files/images/imports/2019/03/vote.png", loading: "lazy", sizes: "calc(100vw - 1rem), (min-width: 576px) 524px, (min-width: 768px) 344px, (min-width: 992px) 464px, (min-width: 1200px) 364px"})
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('cloud', 'fas')
              .s2-card-text
                h4 Un espace de stockage (Cloud)
                p.mb-0 Stockez vos fichiers et partagez-les autant de fois que vous le voulez. Vous pouvez enregistrer les fichiers que vous partagez dans votre Cloud, ou bien les stocker au préalable dans votre Cloud pour ensuite les partager.
            +picture({src: "/files/images/imports/2019/11/drive.png", loading: "lazy", sizes: "calc(100vw - 1rem), (min-width: 576px) 524px, (min-width: 768px) 344px, (min-width: 992px) 464px, (min-width: 1200px) 364px"})
            a(href="wiki/usage/drive").s2-card-link.font-weight-bold En savoir plus sur le Cloud
        //- article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('gamepad', 'fas')
              .s2-card-text
                h4 Jeux
                p.mb-0
                  | Jouons ensemble. Vous pouvez jouer contre d'autres utilisateurs.
                  br
                  | Vous pouvez jouer à 「Othello」, avec des régles standards ou des #[a(href="https://github.com/syuilo/misskey/issues/1200" target="_blank" rel="noopener")  règles spéciales]。Les pions étant représentés par l'icône de l'adversaire.
            +picture({src: "/files/images/imports/2019/03/reversi.png", loading: "lazy", sizes: "calc(100vw - 1rem), (min-width: 576px) 524px, (min-width: 768px) 344px, (min-width: 992px) 464px, (min-width: 1200px) 364px"})
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('comments', 'far')
              .s2-card-text
                h4 Messagerie
                p.mb-0
                  | Discutez
                  br
                  | Vous pouvez discuter en privé avec un utilisateur, ou avec un groupe d'utilisateurs.
            +picture({src: "/files/images/imports/2019/10/talk.png", loading: "lazy", sizes: "calc(100vw - 1rem), (min-width: 576px) 524px, (min-width: 768px) 344px, (min-width: 992px) 464px, (min-width: 1200px) 364px"})
            a(href="wiki/usage/messaging").s2-card-link.font-weight-bold En savoir plus sur la Messagerie
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('sticky-note', 'far')
              .s2-card-text
                h4 Pages
                p.mb-0
                  | Créez un « générateur » ou bien écrivez une phrase.
                  br
                  | Sur la page, vous pouvez placer des blocs, tels que du texte et des sections, ou créer des programmes simples.
            +picture({src: "/files/images/imports/2019/10/page.png", loading: "lazy", sizes: "calc(100vw - 1rem), (min-width: 576px) 524px, (min-width: 768px) 344px, (min-width: 992px) 464px, (min-width: 1200px) 364px"})
            a(href="wiki/usage/pages").s2-card-link.font-weight-bold En savoir plus sur les Pages
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('satellite')
              .s2-card-text
                h4 Antenne
                p.mb-0
                  | Recherchez vous sur Internet (Egosearch)。
                  br
                  | Configurez votre antenne pour récupérer toutes les notes diffusées répondant à certains critères.
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('door-open', 'fas')
              .s2-card-text
                h4 Chambre
                p.mb-0
                  | Arrangez votre chambre comme vous le souhaitez, à l'aide de multiples fournitures.
                  br
                  | Une fois prête, partagez son URL avec tout le monde.
            +picture({src: "/files/images/imports/2019/10/room.png", loading: "lazy", sizes: "calc(100vw - 1rem), (min-width: 576px) 524px, (min-width: 768px) 344px, (min-width: 992px) 464px, (min-width: 1200px) 364px"})
            a(href="wiki/usage/rooms").s2-card-link.font-weight-bold Détails sur les chambres

    hr#section_2_b

    section.s2-item
      h3.text-center Une interface personnalisable
      p.text-center Le client Web de Misskey peut être configuré librement afin de s'adapter à vos préférences.

      .row
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('calculator', 'fas')
              .s2-card-text
                h4 Widgets
                p.mb-0 Des petits widgets personnalisés affichant diverses informations et sont déplaçables facilement.
            //- img(src="/files/images/imports/2019/03/widgets.svg")
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('palette', 'fas')
              .s2-card-text
                h4 Thèmes
                p.mb-0
                  | Vous pouvez changer la couleur d'arrière plan, du texte, des bordures, etc.
                  br
                  | Votre thème préféré peut être enregistré dans un fichier téléchargeable.
            a(href="https://assets.msky.cafe/" target="_blank" rel="noopener").s2-card-link.font-weight-bold Assets Store

    hr#section_2_a

    section.s2-item
      h3.text-center Indépendance et Sociabilité
      p.text-center Vous pouvez choisir de créer votre compte sur l'instance qui vous convient ou installer votre propre instance.

      .row
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('globe', 'fas')
              .s2-card-text
                h4 Fédiverse
                p.mb-0
                  | Depuis que le protocole de communication entre serveurs appelé ActivityPub a été implanté, 
                  | vous pouvez suivre des utilisateurs d'autres instances, #[a(href="https://fediverse.gitlab.io/" target="_blank" rel="noopener") ou d'autres réseaux sociaux], ainsi que voir et réagir à leurs posts.
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('server', 'fas')
              .s2-card-text
                h4 Installez votre propre serveur
                p.mb-0 Installer Misskey est simple. Vous pouvez avoir votre propre réseau social.
            a(href="wiki/developers/").s2-card-link.font-weight-bold En savoir plus sur comment monter son propre serveur

    hr#section_2_c

    section.s2-item.pb-0
      h3.text-center Libre et open-source
      p.text-center Misskey est un logiciel libre. N'importe qui peut participer au développement ainsi qu'aux traductions. Vous pouvez aussi modifier ce logiciel pour l'adapter à vos besoins (fork).
      p.text-center
        a(href="https://github.com/syuilo/misskey" target="_blank" rel="noopener").btn.btn-lg.btn-dark.mr-2.scrollts.scrollts-zoomIn
          +fa_fw('github', 'fab')
          | GitHub
        a(href="https://crowdin.com/project/misskey" target="_blank" rel="noopener").btn.btn-lg.btn-warning.scrollts.scrollts-zoomIn
          | Crowdin (traduction)

      .row
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .font-size-16: +fa_fw('code', 'fas')
              .s2-card-text
                h4 API
                p.mb-0 Créez vos applications compatibles à Misskey grâce à notre API pour mieux en profiter.
            a(href="wiki/developers/api").s2-card-link.font-weight-bold Utiliser l'API
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .font-size-16: +fa_fw('balance-scale', 'fas')
              .s2-card-text
                h4 AGPL v3
                p.mb-0 Misskey est sous licence GNU Affero General Public License v3.0 (AGPL v3).
            a(href="wiki/developers/modifying-code-and-license").s2-card-link.font-weight-bold Licence

  .text-center#s3anc
    +ad({ class: "aitaso", slot: "4149683131", format: "horizontal", allowFullWidth: "true" })

  section#section_3.bg-dark.text-white: .container
    h2.text-center Comment débuter ?
    p.text-center Inscrivez-vous sur une instance existante !
    p.text-center Avec votre compte Misskey vous pouvez, suivre et discuter avec les utilisateurs de n'importe quelle instance. Le domaine de l'instance fera partie de votre identifiant.
    hr.my-4
    h3#instances Liste des instances recommandées
    +instancesList('selected', ['light', 'white-50', 'dark', 'dark'], 'fadeInUp')
    p.text-center.my-2
      a(href="./wiki/instances/").scrollts-nomargin.btn.btn-primary.btn-sm Découvrir plus ...

    p.text-white-50.pt-2 Nous rajoutons continuellement de nouvelles instances. Si vous désirez lister votre propre instance, merci de contacter @joinmisskey@misskey.io via la Fédiverse
  
  section#section_6.bg-white: .container.text-center.text-dark
    h2 Ils parlent de nous ! (en Japonais)
    p.m-0.text-center
      a(href="http://www.itmedia.co.jp/news/articles/1804/17/news124.html" target="_blank" rel="noopener" title="ActivityPub対応国産SNS「Misskey」、LTLも実装 ―― ITmedia NEWS").p-1.mr-2
        img(src="/files/images/imports/2018/07/ITmediaNEWS.png" style="height: 33px" alt="ITmedia NEWS" loading="lazy")
      a(href="https://www.moongift.jp/2018/07/misskey-%e5%88%86%e6%95%a3%e5%9e%8b%e3%83%9e%e3%82%a4%e3%82%af%e3%83%ad%e3%83%96%e3%83%ad%e3%82%b0%e3%82%b5%e3%83%bc%e3%83%93%e3%82%b9/" target="_blank" rel="noopener" title="Misskey - 分散型マイクロブログサービス ―― MOONGIFT").p-1
        img(src="/files/images/imports/2018/07/MOONGIFT.png" style="height: 33px" alt="MOONGIFT" loading="lazy")

  section#section_6_1.bg-white: .container.text-center.text-dark
    h2 統計
    .row.justify-content-center
      .col-md-4.mt-2
        .font-weight-bold Nombre total d'utilisateurs
        .h1=numeral(stats.usersCount).format('0,0')
      .col-md-4.mt-2
        .font-weight-bold Nombre total de notes
        .h1=numeral(stats.notesCount).format('0,0')
      .col-md-4.mt-2
        .font-weight-bold Nombre d'instances opérationnelles
        .h1=numeral(stats.instancesCount).format('0,0')
    p.mb-0.mt-3.text-muted.small Calculé depuis les statistiques obtenues sur chaque instance depuis le #{updateMoment.tz('Europe/Paris').format('lll z')} .

  section#section_7: .container
    h2.text-center Soutenir le projet
    p.text-center
      a(href="credit#patrons").btn.btn-lg.btn-light.text-primary.mr-2
        | Liste des Mécènes
      a(href="https://github.com/syuilo/misskey/blob/master/docs/DONATORS.md" target="_blank" rel="noopener").btn.btn-lg.btn-light.text-primary
         | Liste des donateurs

    hr.my-4
    h3.text-center Soutenir Misskey
    p.text-center
      | Vous aimez le projet ? Misskey est un projet libre et open source développé par des personnes comme vous.
      br
      | Misskey ne comporte pas de publicité afin de ne pas perturber vos relations sociales, mais le développement de ce projet coûte du temps et de l'argent.
      br
      | Merci de nous soutenir en participant au développement de Misskey.
    a(href="https://www.patreon.com/syuilo" target="_blank" rel="noopener").btn.btn-block.btn-lg.btn-outline-primary.mb-2
      +fa_fw('patreon', 'fab')
      | Pour les donations
    a(href="http://amzn.asia/7O1LEI5" target="_blank" rel="noopener").btn.btn-block.btn-lg.btn-outline-primary.mb-2
      +fa_fw('amazon', 'fab')
      | Liste de souhaits
    a(href="https://www.bountysource.com/teams/misskey" target="_blank" rel="noopener").btn.btn-block.btn-lg.btn-outline-primary.mb-2
      | Bountysource
    p.text-center Ou contactez #[a(href="https://misskey.io/@syuilo" target="_blank" rel="noopener") le développeur]
    p.text-center
      a(href="wiki/about-jm").btn.btn-primary.btn-lg Contribuer à l'édition et la traduction de ce site

  section#section_4.bg-success: .container.text-white
    .row
      .col-12.col-md-6
        .py-3
          a(href="blog/").btn.btn-lg.btn-outline-light
            +fa("broadcast-tower")
            |  Blog
          p.mt-1.mb-0.p-0 Actualité des nouveautés apportées à Misskey, à tout moment.
      .col-12.col-md-6.scrollts-e-1
        .py-3
          a(href="credit").btn.btn-lg.btn-outline-light
            +fa("users")
            |  Crédits
          p.mt-1.mb-0.p-0 Les personnes impliquées dans le développement de Misskey.
