---
title: v11の使い方
description: v11の使い方。最新版の利用方法は別にあるので、最新版についてはそちらを参照のこと。
layout: index
has_child: false
rank: 2.1
improve: true
---
p.
  #[a(href="../usage/") v12版はこちら]
p.
  Misskeyは多くの機能を持っているのが特徴だが、それによってわかりにくくなっている部分もあるだろう。<br>
  以下の使い方の記事を順序通りに一通り読めば、Misskeyについてのすべてを理解できると思う。
p.
  Misskey Webにはキーボードショートカットがあるが、これについてはMisskeyを開いた状態で#[kbd ?]または#[kbd h]キーを押して確認されたい。

h2 ページ一覧
