---
title: Pour commencer
description: Terminologie de base, Comment s'enregistrer, Comment afficher le menu.
layout: wiki
has_child: true
rank: 0.9
prev: /wiki/about
next: /wiki/questions
improve: true
---
h2 Terminologie de base

dl
  dt: a(href="./usage/post") Note
  dd.
    Un message communiqué par un utilisateur<br>
    Il est possible d'y associer des images, un sondage, ...
  dt: a(href="./usage/timelines") La timeline
  dd.
    La liste des notes publiées classée par ordre chronologique, les plus récentes en premier.<br>
    Cette liste est rafraichie en temps réel.
  dt Instance
  dd.
    Un serveur sur lequel est installé Misskey. C'est la base du service Misskey. Ce terme est aussi utilisé pour parler d'autres serveurs prennant en charge le protocol ActivityPub.<br>
    Les instances pouvant communiquer ensemble, vous pouvez suivre les utilisateurs d'autres instances, ainsi que vous échanger des notes, ou Toot.
  dt Fédiverse（フェディバース）
  dd.
    C'est la combinaison des mots anglais "Federation" et "Universe".
    Cela représente l'univers où les instances ActivityPub communiquent ensemble, créant ainsi ce réseau social mondial décentralisé. 
  dt Local
  dd L'instance sur laquelle vous êtes.
  dt Remote
  dd Les autres instances connectées à votre instance.
  dt Misskist
  dd.
    Un utilisateur ayant un compte sur une instance Misskey.<br>
    Apprenez à utiliser Misskey et devenez le meilleur Misskist !

h2 S'enregistrer
p.
  Nul besoin d'adresse email pour s'enregistrer à une instance Misskey.<br>
  Il suffit juste d'indiquez un nom d'utilisateur, un mot de passe et de cliquer sur "S'enregistrer".<br>
  Selon l'instance, il est possible que conditions d'utilisations particulières soient présentes, où que reCAPTCHA soit utilisé pour déterminer que vous n'êtes pas un robot.
p.
  Le nom d'utilisateur peut être composé de caractères latins, ou bien être juste ' '.

h2 Menu
p Vous pouvez démarrer et contrôler l'utilisation des fonctionnalités de Misskey depuis le Menu.
p Sur les mobiles, vous pouvez ouvrir le menu en appuyant sur #[+fa_fw('bars')]#[span.sr-only le menu sandwich (trois barres) ], situé en bas à gauche de l'écran。
