---
title: 情報が取得できなかったインスタンスの一覧
description: 閉鎖やメンテナンス等で、情報が取得できないインスタンスの一覧
layout: wiki
prev: /wiki/instances/registration-closed
---
p 情報が取得できなかったインスタンスの一覧
p 閉鎖やメンテナンス等で、情報が取得できないインスタンスの一覧。
+instancesList('suspended')
