---
title: ノートに反応する
description: 返信・リノート・リアクションについての解説。
layout: wiki
rank: 5
prev: /wiki/usage/antenna
next: /wiki/usage/watch
improve: true
---
h2 #[+fa_fw('reply')]返信
p #[+fa_fw('reply')]でノートに返信できる。

h2 #[+fa_fw('retweet')]リノート, #[+fa_fw('quote-right')]引用
p.
  #[+fa_fw('retweet')]でリノートできる。#[br]
  他のサービスではリツイートやブーストと呼ばれるようだ。#[br]
  自分のリノートは時間表示（たった今、1分前）の部分を選択すると解除できる。

p また、コメントを付けてリノートすることもできる#[b (引用リノート)]。
p.
  本文が空のまま引用すると通常のリノートになる。<br>
  また、公開範囲を設定すると公開範囲を設定したリノートになる。

h2 #[+fa_fw('plus')]リアクション
:md
  [リアクションピッカー](/files/images/imports/2019/03/reaction-2.png "リアクションピッカー")

p #[+fa_fw('plus')]でノートに絵文字でリアクションできる。
p ここ（リアクションピッカー）に表示される絵文字は、アカウント設定で変更できる。
p.
  カスタム絵文字もリアクションでき、相手が対応していればリモートにも伝達する。#[br]
  リアクションに対応していないMastodonなどでは、「いいね」などとして表示されるだろう。
