---
title: プロフィール
description: 他のユーザーについて知り、自分についての情報を知ってもらおう。
layout: wiki
rank: 1.98
prev: /wiki/usage/timelines
next: /wiki/usage/post
---
:md
  ノートを投稿する前に、プロフィールを設定してあなたの個性を出そう。

  [外部サービス連携とEメールについては別ページを参照のこと。](integration)

  ## プロフィール設定
  アカウント設定（URL: `/my/settings`）で自分のプロフィールを編集できる。  
  メニューの自分の名前を選択することでアカウント設定を開ける。

  プロフィールを設定したら**保存**を押すのを忘れないようにしよう。

  ### アイコン・バナーの変更
  丸い部分を選択するとアイコン、外側の枠の部分を選択するとバナーを、アップロードまたは[ドライブ](drive)から選択できる。

  ### 名前
  名前を設定する。空白にするとユーザー名が使用される（デフォルト状態）。
  名前にはカスタム絵文字も設定できる。

  ### 自己紹介
  「自己紹介」欄では、[MFM](mfm)を使いながらあなたについて自由に記述することができる。  
  自己紹介に[ハッシュタグ](hashtag)を含めると、「みつける」画面の「人気のタグ」に表示され、共通の話題を持ったユーザーがあなたを見つけやすくなる。

  ### 補足情報
  ラベルと内容の組を4つ設定し、プロフィールに設定できる。

  ### バッジ
  #### Cat
  「このアカウントはCatです」を有効にすると、あなたはCatになる。  
  ノート内で名前の横にcatと表示される。

  アイコンに猫耳が生え、**問答無用で**ノート内の「な」が「にゃ」に変換される。

  Catであることはリモートにも伝わる（対応している）。

  #### Bot
  「このアカウントはBotです」を有効にすると、このアカウントがBotである（自動化されている）と認識されるようになる。  
  ノートの名前の横にbotと表示され、ユーザーページでロボットのマークが付く。

  このスイッチは、Botやアプリといったプログラムが、アカウントがBotであることを認識するために利用するためにある。  
  自動化されていないアカウントがBotを有効にしているとBotが反応してくれないことがあるため、一般のユーザーがBotを有効にすることはお勧めしない。

  Botであることはリモートにも伝播する。Botを受け付けない設定のインスタンスがあれば、そのようなインスタンスのユーザーには一切関わることができない。

  <!--Misskeyには「Botからのフォローだけ承認制にする」オプションがあり、こちらも`アカウント設定` > `プライバシー`で有効にできる。-->

  ## 管理者・モデレーターのバッジ
h4 #[+fa_fw('bookmark', 'fas')]管理者
p このバッジが付いているユーザーは管理者で、管理者はインスタンス設定（URL: `/instance`）のすべての操作が行える。

h4 #[+fa_fw('bookmark', 'far')]モデレーター
p 白抜きのバッジがついているユーザーはモデレーターで、インスタンス設定の一部の操作を行える。

:md
  ## ユーザーページ
  ユーザーページ（URL: `/@username`）で自分や他のユーザーのプロフィールを閲覧できる。

  リモートのユーザーのプロフィールは不正確かもしれないので、そのユーザーが所属するインスタンスのプロフィールを確認されたい。
