---
title: タイムラインと操作
description: 4種類あるメインのタイムライン及びその他のタイムラインについて。
layout: wiki
rank: 1
prev: /wiki/usage/first
next: /wiki/usage/profile
improve: true
---
p 4種類あるメインのタイムライン及びその他のタイムラインについて。

h2 タイムラインの操作
p ナビゲーションバーのタイトル（スクリーンショットの赤丸）部分を選択することでタイムラインを切り替えられる。

:markdown
  ![](/files/images/imports/2020/02/scnsht-1-tl.png)

h2 メインのタイムライン
p MisskeyはActivityPubのサーバー間通信機能によって他のインスタンスのユーザーをフォローすることができる。  
p より多くの人と繋がりながら投稿を見逃さないために、Misskeyはタイムラインを主に4種類持っている。

h3 #[+fa_fw('home')]ホーム
p 自分がフォローした人のノートが表示される。

h3 #[+fa_fw('comments')]ローカル
:markdown
  インスタンス内のユーザー全員の公開ノートが表示される。  
  [公開設定](post#公開範囲を設定する)が「ホーム」以下に設定されたノートは表示されない。

h3 #[+fa_fw('share-alt')]ソーシャル
:markdown
  ホームとローカルを合わせたタイムライン。  
  自分がフォローした人とインスタンス内のユーザー全員の公開ノートが表示される。

h3 #[+fa_fw('globe')]グローバル
:markdown
  インスタンスが受信するすべての公開ノートを表示する。  
  公開設定が「ホーム」に設定されたノートは表示されない。

h2 個別
h3 #[+fa_fw('list')]リスト
:markdown
  [リスト](list)に登録しているユーザーのノートが表示される。  
  リストタイムラインはホーム及びデッキで閲覧できる。

h3 #[+fa_fw('satellite')]アンテナ
:markdown
  アンテナは、エゴサのための機能である。
  使い方が少し複雑なので、[**アンテナについての詳細は個別記事を参照。**](antenna)

:markdown
  ## 各種タイムライン
  URLを入力するとオブジェクトごとのタイムラインを見ることができる。  
  手動で更新する必要がある。

h3 #[+fa_fw('hashtag')]タグ
p.
  特定のハッシュタグが付けられたノートが表示される。<br>
  ハッシュタグページ(URL: #[code /tags/#hashtag])で見ることができる。

h3 #[+fa_fw('user')]ユーザー
p.
  ユーザーページ(URL: #[code /@username])では、ユーザーのノート一覧が表示される。<br>

h3 #[+fa_fw('search')]検索
p.
  検索したい文字列を検索フォームに入力すると、その文字列が含まれたノートがタイムラインに表示される。
